<div class="container slide-in">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <img src="/app/assets/img/github-icon.svg" />
        </div>
        <div class="col-sm-8">
          <h1>Check us out on GitHub!</h1>
          <div class="list-group">
            <a href="https://github.com/haproxyhq/frontend" target="_blank">
              <div class="list-group-item flex">
                <div class="row-action-primary centered">
                  <i class="material-icons primary-color">call_split</i>
                </div>
                <div class="centered flex row-content">
                  <h4 class="centered">HAProxyHQ/Frontend</h4>
                </div>
              </div>
            </a>
            <a href="https://github.com/haproxyhq/backend" target="_blank">
              <div class="list-group-item flex">
                <div class="row-action-primary centered">
                  <i class="material-icons primary-color">call_split</i>
                </div>
                <div class="centered flex row-content">
                  <h4 class="centered">HAProxyHQ/Backend</h4>
                </div>
              </div>
            </a>
            <a href="https://github.com/haproxyhq/agent" target="_blank">
              <div class="list-group-item flex">
                <div class="row-action-primary centered">
                  <i class="material-icons primary-color">call_split</i>
                </div>
                <div class="centered flex row-content">
                  <h4 class="centered">HAProxyHQ/Agent</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
