<div class="container slide-in">
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <img src="/app/assets/img/github-icon.svg" />
        </div>
        <div class="col-sm-8">
          <h1>Check us out on GitHub!</h1>
          <div>
            <ul>
              <li><a href="https://github.com/haproxyhq/frontend" target="_blank">HAProxyHQ/Frontend</a></li>
              <li><a href="https://github.com/haproxyhq/backend" target="_blank">HAProxyHQ/Backend</a></li>
              <li><a href="https://github.com/haproxyhq/agent" target="_blank">HAProxyHQ/Agent</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
