# Dependency directory
node_modules/

# Logs
*.log

# Compiled .js and .js.map files
app/components/*.js
app/components/*.js.map
app/components/*/*.js
app/components/*/*.js.map
app/services/*.js
app/services/*.js.map
app/*.js
app/*.js.map
