<div protected>
  <div class="container panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <h1>Profile</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-field">
            <input-field [(value)]="_user.firstName" label="First name"></input-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-field">
            <input-field [(value)]="_user.name" label="Name"></input-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-field">
            <input-field [(value)]="_user.username" label="Email"></input-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <save-cancel-fabs (save)="saveChanges()" (cancel)="revertChanges()"></save-cancel-fabs>
        </div>
      </div>
    </div>
  </div>
</div>
