@import '../../assets/css/less/_colors.less';

.stick-bottom {
  position: absolute;
  width: 100%;
  z-index: 1000;
  margin-top: -5px;
}
.stick-bottom ul {
  list-style-type: none;
  max-height: 200px;
  margin: 5px;
  padding: 0;
}
.stick-bottom ul {
  overflow:hidden; overflow-y:scroll;
}

.highlight {
  font-weight: bold;
}

.params {
  color: @grey;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.completion-item {
  cursor: default;
}

.selected {
  background-color: @grey-200;
}

.load-more-link {
  cursor: pointer;
}
