@import './../../assets/css/style.less';

.abc-icon {
  border-radius: 0%;
  background-color: @brand-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abc-icon-text {
  color: white;
  font-size: 10em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;  
}
