<div class="row">
  <div class="col-md-12">
    <div class="form-group label-floating">
      <label class="control-label" for="focusedInput">{{label}}</label>
      <input type="text" class="form-control" id="focusedInput"
          [required]="required"
          [(ngModel)]="value" (ngModelChange)="updateValue(value)"
          (focus)="toggleCompletion(true)"
          (blur)="toggleCompletion(false)"
          (keydown)="onKeyDown($event)"
          (keyup)="_keyCode.next($event.keyCode)"
          #valueInput>
      <completion class="ng-animate completion"
        *ngIf="showCompletion()"
        [hidden]="!_showCompletion"
        [completion]="completion"
        [search]="value"
        [key-code]="_keyCode"
        (selected-value)="handleSelectedValueChange($event, valueInput)"
        (mouseenter)="toggleBlur(false)"
        (mouseleave)="toggleBlur(true)"></completion>
    </div>
  </div>
</div>
