<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<base href="/<%= APP_DEST %>/">

<body>

  <app>Loading...</app>

  <!-- shims:js -->
  <!-- endinject -->

  <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

  <!-- libs:js -->
  <!-- endinject -->

  <script>
    System.import('rxjs/add/operator/map')
          .then(null, console.error.bind(console));
    System.import('bootstrap')
          .then(null, console.error.bind(console));
  </script>

  <!-- inject:js -->
  <!-- endinject -->
  <script>
    $.material.init();
  </script>

</body>
</html>
