.account-icon {
  font-size: 40px;
  margin-right: 15px;
}

.panel-heading {
  cursor: pointer;
  display: flex;
  color: white !important;
}

.user-name {
  margin-top: auto;
  margin-bottom: auto;
}
