.completion-container {
  position: relative;
}

.completion-container:hover .remove-completion {
  display: block;
  opacity: 1;
}

.remove-completion {
  opacity: 0;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: .1s opacity linear;
}
