.agent-detail {
  width: 350px;
  display: inline-block;
  text-align: left;
}

.agents-container {
  width: 90%;
  margin: 10px auto;
  position: relative;
  text-align:center;
}

.agent-detail-container:hover .remove-agent {
  display: block;
  opacity: 1;
}

.remove-agent {
  opacity: 0;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: .1s opacity linear;
}
