<div protected>
  <div class="fab bottom right">
    <a class="btn btn-primary btn-fab"><i class="material-icons">add</i></a>
  </div>
  <div class="container">
    <template [ngIf]="agents.length === 0">
      <div class="row">
        <div class="col-md-12">
          <div class="panel infobox">
            <div class="panel-body">
              You don't have any agents connected. Add one by clicking the button in the lower right corner.
            </div>
          </div>
        </div>
      </div>
    </template>
    <template [ngIf]="agents.length !== 0">
      <div class="row">
        <div *ngFor="#agent of agents" class="col-md-6">
          <div class="panel">
            <div class="panel-body">
              <agent-detail [agent]="agent"></agent-detail>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>
