<div protected>
  <div class="fab bottom right">
    <a class="btn btn-primary btn-fab"><i class="material-icons">add</i></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel infobox">
          <div *ngIf="agents.length === 0" class="panel-body">
            You don't have any agents connected. Add one by clicking the button in the lower right corner.
          </div>
          <div *ngIf="agents.length !== 0" class="panel-body">
            <agent *ngFor="#agent of agents" [agent]="agent"></agent>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
