@import './../../assets/css/less/_colors.less';
@import './../../assets/css/style.less';

.panel-heading {
  background-color: @brand-primary !important;
}

.header-text, .drag-icon-head, .header-name.placeholder {
  color: white !important;
}

.input-group-addon.drag-input {
  padding-top: 0px;
}

.drag-icon {
  color: @grey-300;
  font-size: 1.8em;
}

.drag-icon-head {
  color: @grey-400;
  font-size: 2em;
  margin-top: 5px;
}

.drag-icon-head-span {
  float: left;
}

.close-icon {
  color: @grey-300;
  font-size: 1.8em;
}

.close-input, .drag-input, .drag-icon-head-span {
  cursor: pointer;
}

.input-group-addon.type-select {
  background-size: 0 2px, 80% 1px;
}

.label-input {
  font-weight: 400;
  color: @grey;
}

.input-field.name {
  padding-top: 7px;
  margin-left: 10px;
}

.panel-heading {
  line-height:38px;
}

.header-text {
  font-size: 1.2em;
  margin-left: 10px;
  color: @grey-700;
}

.header-name.placeholder {
  color: @grey;
  font-family: 'Courier New';
}
