.input-group-addon.drag-input {
  padding-top: 0px;
}

.drag-icon {
  color: grey;
  font-size: 1.8em;
}

.close-icon {
  color: grey;
  font-size: 1.8em;
}

.close-input, .drag-input {
  cursor: pointer;
}

.type-select {
  border: 0;
  background-image: linear-gradient(#ad1457, #ad1457), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 0, 0 0;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  min-width: 150px;
}

.input-group-addon.type-select {
  background-size: 0 2px, 80% 1px;
}

.label-input {
  font-weight: 400;
  color: grey;
}

.input-field.name {
  padding-top: 7px;
  margin-left: 10px;
}
