@import './../../assets/css/style.less';

.admin-alert {
  color: @white;
  margin-left: 10px;
}

.admin-alert-icon {
  color: @white;
  display: inline-flex;
  vertical-align: middle;
}

.panel.panel-default {
  background-color: @brand-primary;
}

.admin-alert-infobox {
  width: 90%;
  margin: 10px auto;
  position: relative;
  text-align:center;
}
