<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['Home']">HAProxyHQ</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [class.active]="isActive(['Home'])"><a [routerLink]="['Home']">Home</a></li>
        <template [ngIf]="_globalStorage.authenticated">
          <li [class.active]="isActive(['Schemas'])"><a [routerLink]="['Schemas']">Schemas</a></li>
          <li [class.active]="isActive(['Agents'])"><a [routerLink]="['Agents']">Agents</a></li>
          <template [ngIf]="_globalStorage.user.isAdmin()">
            <li [class.active]="isActive(['Admin', { route: 'users' }])"><a [routerLink]="['Admin', { route: 'users' }]">Administration</a></li>
          </template>
        </template>
        <template [ngIf]="!_globalStorage.authenticated">
          <li [class.active]="isActive(['About'])"><a [routerLink]="['About']">About</a></li>
        </template>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ul *ngIf="!_globalStorage.authenticated" class="nav navbar-nav navbar-right">
          <li [class.active]="isActive(['Login'])">
              <a [routerLink]="['Login']"><i class="material-icons">input</i> Login</a>
          </li>
        </ul>
        <ul *ngIf="_globalStorage.authenticated" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">account_circle</i> <i class="material-icons">arrow_drop_down</i></a>
            <ul class="dropdown-menu">
              <!--  <li><a [routerLink]="['Settings']"><i class="material-icons">notifications</i> Notifications</a></li> -->
              <li><a [routerLink]="['Settings Profile']"><i class="material-icons">person</i> Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['About']"><i class="material-icons">info</i> About</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['Logout']"><i class="material-icons">power_settings_new</i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
