<div protected>
  <template [ngIf]="_schema != null">
    <div class="fab bottom right" (click)="_addSection()">
      <a class="btn btn-primary btn-fab"><i class="material-icons">add</i></a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 slide-in-left">
          <div class="panel-default panel">
            <div class="panel-body">
              <div class="input-field">
                <input-field [(value)]="_schema.name" label="Name"></input-field>
              </div>
              <div class="input-field">
                <input-field [(value)]="_schema.description" label="Description"></input-field>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label" for="version">HAProxy Version</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="version-select">
                    <select id="version" class="type-select" [(ngModel)]="_schema.version">
                      <option *ngFor="#version of _avaiableVersions; #i = index"
                        [value]="version"
                        [selected]="i == 0">
                        {{version}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <save-cancel-fabs (save)="_saveChanges()" (cancel)="_revertChanges()"></save-cancel-fabs>
            </div>
          </div>
        </div>
        <div class="col-md-8 slide-in">
          <config-edit
            [config-emitter]="_configEmitter"
            (configChange)="_configChange($event)"
            [completion]="_completion"
            [types]="_types"
            [(restoring)]="_restoring">
          </config-edit>
        </div>
      </div>
    </div>
  </template>
</div>
